body {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.beach_daytime {
    background-image: url('./src/assets/beach_daytime.webp');
}

.beach_sunset {
    background-image: url('./src/assets/beach_sunset.webp');
}

.beach_moonnight {
    background-image: url('./src/assets/beach_moonnight.webp');
}